body {
    max-width: 500px;
    margin: auto;
}

.vendor-img {
    max-width: 50px;
}

.menu-img {
    max-width: 50px;
}

.timeslot {
    margin: 0 10px;
}

.timeslot.disabled {
    color: red;
}

.timeslot.enabled {
    color:yellowgreen;
}